*.pyc
*.so
*.o
*.a
*.la
*.lai
*.lo
*.so.*
*.mk
*.out
*/.libs/*

apr_checkapi/apr.log
apr_checkapi/apr_src/.make.dirs
apr_checkapi/apr_src/Makefile
apr_checkapi/apr_src/apr-1-config
apr_checkapi/apr_src/apr.exp
apr_checkapi/apr_src/apr.pc
apr_checkapi/apr_src/build/pkg/pkginfo
apr_checkapi/apr_src/config.log
apr_checkapi/apr_src/config.nice
apr_checkapi/apr_src/config.status
apr_checkapi/apr_src/export_vars.c
apr_checkapi/apr_src/exports.c
apr_checkapi/apr_src/include/apr.h
apr_checkapi/apr_src/include/aprtrace.h
apr_checkapi/apr_src/include/arch/unix/apr_private.h
apr_checkapi/apr_src/include/private/
apr_checkapi/apr_src/libtool
apr_checkapi/apr_src/test/Makefile
apr_checkapi/apr_src/test/data/testbigfprintf.dat
apr_checkapi/apr_src/test/data/testflush.dat
apr_checkapi/apr_src/test/data/testputs.txt
apr_checkapi/apr_src/test/data/testwritev.txt
apr_checkapi/apr_src/test/data/testwritev_full.txt
apr_checkapi/apr_src/test/data/testxthread.dat
apr_checkapi/apr_src/test/echod
apr_checkapi/apr_src/test/globalmutexchild
apr_checkapi/apr_src/test/internal/Makefile
apr_checkapi/apr_src/test/occhild
apr_checkapi/apr_src/test/proc_child
apr_checkapi/apr_src/test/readchild
apr_checkapi/apr_src/test/sendfile
apr_checkapi/apr_src/test/sockchild
apr_checkapi/apr_src/test/sockperf
apr_checkapi/apr_src/test/testall
apr_checkapi/apr_src/test/testlockperf
apr_checkapi/apr_src/test/testmutexscope
apr_checkapi/apr_src/test/testshmconsumer
apr_checkapi/apr_src/test/testshmproducer
apr_checkapi/apr_src/test/tryread
apr_checkapi/apr_src/tools/gen_test_char
